html {
    background-color: /*#FFFAE6*/ /*#FFF8DC*/ /*#F8F8FF*/ /*#c9c9c9*/ #ccc; 
    min-height:100%;
    color: /*#580000*/ #362819;
    font-family: "Palatino Linotype", "Book Antiqua", Palantino, serif;
}

body {
    text-align:left;
    width:98%; 
}

img#rotator {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height:300px;
  width:400px;
}

header {
padding:0; 
width:100%; 
position:relative; 
top:-35px;
}

nav {
width:100%; 
height:100%; 
display:flex; 
justify-content:space-around; 
align-items:center; 
flex-direction:row;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; padding:0;
}
 
span.mainTitle {display:block; font-size:1.7em; font-weight:bold; letter-spacing:1px; color:#B16800; position:relative; top:15px;  }
span.subTitle1 {display:block; font-size:1.5em; font-weight:bold; letter-spacing:1px; color:#B16800; position:relative; }
span.subTitle2 {display:block; font-size: .88em; letter-spacing:1px; font-weight:900;}

ul#siteMenu {list-style-type:none; width:100%; display:flex; justify-content:space-around; align-items:flex-start; flex-direction:row; height:100%;  background-color:/*#F8F8FF;*/#FFDB90;
position:relative; bottom:-20px;}
ul#siteMenu li.title {flex:1; display:flex; justify-content:space-around; align-items:center; flex-direction:column; background-color:#FFDB90;   }
/*ul#siteMenu li {/\*padding:8px;*\/ font-weight: bold;}*/

ul#siteMenu li.mainMenu {flex:2.5; background-color:/*#FFDB90*/#F8F8FF;}
ul.mainMenu {list-style-type:none; display:flex; justify-content:space-between; align-items:flex-start; flex-direction:row; background-color: Grey; padding:0}
ul.mainMenu li.section {/*font-weight:bold; font-size:1em;*/ display:flex; justify-content:space-around; align-items:center; flex-direction:column; padding-left:20px; padding-right:10px; height:150px; flex:1}

li.overview {background-color:Grey; color:#FFDB90;}
li.overview a{color:gold; text-decoration:none;}
li.overview a:hover{color:yellow; text-decoration:underline;}
li.project{background-color:#FFDB90; color: #362819;/*FireBrick*/; /*color:Lavender*/;}
li.project a {color:navy; text-decoration:none;}
li.project a:hover {color:grey; text-decoration:underline;}
li#join{background-color:DarkSeaGreen; color:maroon}
li#join a {color:maroon; text-decoration:none;}
li#join a:hover {color:white; text-decoration:underline;}
li#display{background-color:RosyBrown; color:PapayaWhip;}
li#display a {color:PapayaWhip; text-decoration:none;}
li#display a:hover {color:gold; text-decoration:underline}

ul.subSec {list-style-type:none; display:flex; justify-content:space-between; align-items:flex-start; flex-direction:column; margin-left:-40px; padding-top:5px; margin-right:25px; /*background-color:LemonChiffon;*/}
ul.subSec li {text-align:left; font-size:1em; font-weight:700; padding-top:2px; padding-bottom:3px }

.button {
  border-radius: 12px;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px -1px white;
}

article.news {margin-bottom:5px; width:95%; display:flex; justify-content:flex-start; align-items:flex-start; flex-flow: row;
}
article div {flex:3;}
article.even a img {padding-left:20px; flex:1;
}
article.odd a img {padding-right:20px; flex:1;
}
   
img.news{ height:200px; 
}
img.pubs{ width:200px; 
}
iframe#news {flex:3; height:500px; padding:10px; margin-right:10px; background-color:/*#F8F8FF;*/#FFDB90;
}
iframe#updates {height:243px; padding-left:10px; margin-right:10px; margin-left:10px; background-color:#FFDB90; border-radius:10px;
}

.container{width:95%; display:flex; justify-content:flex-start; align-items:flex-start; flex-flow: row;
}
#container{width:95%; display:flex; justify-content:flex-start; align-items:flex-start; flex-flow: row;
}
.media{width:95%; display:flex; justify-content:flex-start; align-items:flex-start; flex-flow: row; margin:10px;
}
/* div.left {color: maroon; display:block; text-align:center; font-size:1.9em; margin-top:5px; padding:15px;
} */
div.center {color:#00005C; display:block; text-align:center; font-size:1.7em; margin-top:100px; padding-left:30px; padding-right:30px; margin-right:15px;
}
div.headline h2{}
div.headline h3{}
div#img{flex:1;}
div#welcome {width:100%;}
div#contact {width:100%; display:flex;   justify-content:space-between; align-items:flex-start; flex-direction:row;}
/*div#twitter{flex:1;}

span#wpTitle{float:right}*/

p {padding-right:40px; padding-left:10px;}

/*img{
border-radius:10px;
}*/

a{
color:/* #2929A3;*/ #B90F0F;
text-decoration:none;}
a:hover{
text-decoration:underline;}

/* ghb 2019-01-11: Change log:
 * ghb 2019-01-11: Adapted from digitalmitford.org
 * ghb 2019-01-20: deleting rule-sets specific to MS-editing.
 * ghb 2019-01-20: adding rulesets for form/input/button elements.
 * ghb 2019-02-03: replacing styling on div-elements with semanitc elements.
 * */