html {
    background-color: /*#FFFAE6*/ /*#FFF8DC*/ /*#F8F8FF*/ /*#c9c9c9*/ #ccc; 
    min-height:100%;
    color: /*#580000*/ #362819;
    font-family: "Palatino Linotype", "Book Antiqua", Palantino, serif;
}

body {
    text-align:left;
    width:100%; 
}

div#images img {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100%;
  width: 500px;
}

div#nav_wide {
/* background-image: url("mrmBlur.jpg"); */
padding:0; 
width:100%; 
position:relative; 
top:-35px;
}

div#menu {
width:100%; 
height:100%; 
display:flex; 
justify-content:space-around; 
align-items:center; 
flex-direction:row;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; padding:0;
}
 
span.mainTitle {display:block; font-size:1.7em; font-weight:bold; letter-spacing:1px; color:#B16800; position:relative; top:15px;  }
span.subTitle1 {display:block; font-size:1.5em; font-weight:bold; letter-spacing:1px; color:#B16800; position:relative; }
span.subTitle2 {display:block; font-size: .88em; letter-spacing:1px; font-weight:900;}

ul#siteMenu {list-style-type:none; width:100%; display:flex; justify-content:space-around; align-items:flex-start; flex-direction:row; height:100%;  background-color:/*#F8F8FF;*/#FFDB90;
position:relative; bottom:-20px;}
ul#siteMenu li.title {flex:1; display:flex; justify-content:space-around; align-items:center; flex-direction:column; background-color:#FFDB90;   }
/*ul#siteMenu li {/\*padding:8px;*\/ font-weight: bold;}*/

ul#siteMenu li.mainMenu {flex:2.5; background-color:/*#FFDB90*/#F8F8FF;}
ul.mainMenu {list-style-type:none; display:flex; justify-content:space-between; align-items:flex-start; flex-direction:row; background-color: Grey; padding:0}
ul.mainMenu li.section {/*font-weight:bold; font-size:1em;*/ display:flex; justify-content:space-around; align-items:center; flex-direction:column; padding-left:20px; padding-right:10px; height:150px; flex:1}

li.overview {background-color:Grey; color:#FFDB90;}
li.overview a{color:gold; text-decoration:none;}
li.overview a:hover{color:yellow; text-decoration:underline;}
li.project{background-color:#FFDB90; color: #362819;/*FireBrick*/; /*color:Lavender*/;}
li.project a {color:navy; text-decoration:none;}
li.project a:hover {color:grey; text-decoration:underline;}
li#join{background-color:DarkSeaGreen; color:maroon}
li#join a {color:maroon; text-decoration:none;}
li#join a:hover {color:white; text-decoration:underline;}
li#display{background-color:RosyBrown; color:PapayaWhip;}
li#display a {color:PapayaWhip; text-decoration:none;}
li#display a:hover {color:gold; text-decoration:underline}

ul.subSec {list-style-type:none; display:flex; justify-content:space-between; align-items:flex-start; flex-direction:column; margin-left:-40px; padding-top:5px; margin-right:25px; /*background-color:LemonChiffon;*/}
ul.subSec li {text-align:left; font-size:1em; font-weight:700; padding-top:2px; padding-bottom:3px }

.button {
  border-radius: 12px;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px -1px white;
}

div#container{width:100%; display:flex; justify-content:space-between; align-items:flex-start; flex-direction:row;
}
span#wpTitle{float:right}
div#media{width:100%; display:flex; justify-content:space-around; padding:5px; align-items:flex-start; flex-direction:row;
}
div#img{flex:1;}
div#floatright{
flex:2; display:flex; justify-content:space-between; align-items:flex-start; flex-direction:column;
/*margin-left: 75px;
margin-right:auto;
padding: 10px 5px 50px 20px;*/
}
div#welcome {width:100%;}

div#contact {width:100%; display:flex;  justify-content:space-between; align-items:flex-start; flex-direction:row;}
/*div#mail {flex:3;}*/
div#twitter{flex:1;}
span.iframe {flex:3; }

p.boilerplate{width:100%;}
p.boilerplate span {text-indent:-1em;
    margin-left:1em;
    display:block;
    font-size:smaller;
    line-height:1.4em;
   }
   
p {padding-right:40px; padding-left:10px;}

h1 {
color:/*#A04747*/ #1C373A;
letter-spacing:3px;
display:block;
text-align:center;
font-size:1.3em;}
div#title h1 {background-color:#FFED90;}

h2 {color:/*#00005C*/ maroon; font-size:1.5em;  display:block; text-align:center; padding:2px;
}

h3 {color:#00005C; display:block; /*text-indent:1.5em*/; text-align:center; font-size:1.5em; padding:2px;
}

/*img{
border-radius:10px;
}*/


a{
color:/* #2929A3;*/ #B90F0F;
text-decoration:none;}
a:hover{
text-decoration:underline;}

span.anchor {
color:blue;
 text-decoration:underline;   
}


       
/*span.anchor span.note:hover span, span.anchor span.note:active span {
    display:inline;
}*/

/* ghb 2019-01-11: Change log:
 * ghb 2019-01-11: Adapted from digitalmitford.org
 * ghb 2019-01-20: deleting rule-sets specific to MS-editing.
 * ghb 2019-01-20: adding rulesets for form/input/button elements.
 * */